@charset "UTF-8";
/* CSS Document */

body{
	margin:0px;
    backgroung:#000;
}

.header{
	height:100px;
	background:#000;
	border:1px solid #ccc;
	position:fixed;
	top:0px;
	width:100%;
	
}
#topLogo{
	top:1px;
	left:8px;
	position:fixed;
	
}

#topText{
	top:25px;
	left:250px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	position:fixed;
	
}

.content{
	width:100%;
	background: #F0F0F0;
	background-image:url(images/background.png);
	border:1px solid #ccc;
	height:2000px;
	margin:70px auto;
	
	
}

#subContent{
	width:960px;
	height:2000px;
	margin:70px auto;
	
	
}

#logoBig{
	
	margin-top: 10%;
	margin-left: 20%;
	
}

#signUp{
	margin-top: -5%;
	margin-left: 20%;
	
}

#registerForm{
	color:#FFF;
	font-size:24px;
	margin-top: 15%;
	margin-left: 1%;
}

#loginForm{
	color:#FFF;
	font-size:24px;
	margin-top: 15%;
	margin-left: 1%;
 
}

#searchBox{
	
	top:38px;
	right:20px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	position:fixed;
}

#welcomeText{
	color:#FFF;
	font-size:36px;
	margin-top: 15%;
	margin-left:12%;
	font-family:Arial, Helvetica, sans-serif;
	
}
#PortinsertForm{
	color:#FFF;
	font-size:20px;
	margin-left:25%;
	margin-top:20%;
}

#loginForm{
	color:#FFF;
	
	
}

a{

}
a.nounderline 
{  
 text-decoration:none; 
 color:#FFF; 
} 

 
a:hover
{
color:#a60069;
}

